.navbar{
  height: 50px;
  background-color: #0E0E0E;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  font-size: x-large;
}

.navButton{
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}